body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #040404;
    color: rgb(8, 8, 8);
    z-index: 1000;
    transition: background-color 0.3s;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: #DC143C;
}

section {
    padding: 60px 20px;
    min-height: 100vh;
}

#home {
    background-color: #f8fa8f;
}

#about {
    background-color: #7b9ff4;
}

#services {
    background-color: #a9a1f8;
}

#contact {
    background-color: #fa8ae5;
}

